[include]
	path = ~/.config/.gitconfig.local

[user]
    name = Jędrzej Chałubek
    email = jedrzej.chalubek@gmail.com

[core]
    editor = nvim
	excludesfile = ~/.gitignore

[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true

[alias]
	# Reset all uncommited changes and cleanup redundant files
	nah = git reset --hard && git clean -df
	# Sneak changes into your previous commit
	sneak = commit -a --amend --no-edit
	# See today’s work
	today = log --since=\"00:00:00\" --all --no-merges --oneline --author=$(git config user.email)
	# See work backlog in easiy to share format
	backlog = log --pretty='- %s %Cgreen[%ad]%Creset' --all --no-merges --date=short --author=$(git config user.email)

[pull]
    rebase = true

[push]
    default = simple
