#include ".xrdb/oceanic-next"

URxvt*allow_bold: true
URxvt*font: xft:Noto Sans Mono:size=12
URxvt*imFont: xft:Noto Sans Mono:regular:size=12
URxvt*boldFont: xft:Noto Sans Mono:bold:size=12
URxvt*italicFont: xft:Noto Sans Mono:italic:size=12
URxvt*boldItalicFont: xft:Noto Sans Mono:bold:italic:size=12

URxvt*scrollBar: false
URxvt*transparent: false
URxvt*internalBorder: 16
URxvt*borderLess: false
